{% extends "icinema/base.html" %}

{% block content %}
<body>
<h1>
    {{ cinema.name }}
    {% if user == cinema.user %}
        (<a href="{% url 'icinema:cinema_edit' cinema.id %}">edit</a>)
    {% endif %}
</h1>
 {% if cinema.image %}
    <p><img src="{{ cinema.image.url }}" WIDTH=160 HEIGHT=210 ALIGN=left ALIGN=top VSPACE=0 HSPACE=20></p>
    {% endif %}
<h2>Address:</h2>
<p>

    {{ cinema.address }}, {{ cinema.city }} <br/>
    {{ cinema.postcode }} {{ cinema.cinema_url }} <br/>
    {{ cinema.telephone }} ({{ cinema.stateOrProvince }})

</p>
   <p>

    &nbsp
    </p>
    <p>
     &nbsp
    </p>
  <p>
     &nbsp
    </p>
<h2>
    Film Booking:
    {% if user == cinema.user %}(<a href="{% url 'icinema:film_create' cinema.id %}">add</a>){% endif %}
</h2>

<ul>
    {% for films in cinema.films.all %}
        <li><a href="{% url 'icinema:films_detail' cinema.id films.id 'html' %}">
            {{ films.tittle }}</a>
         {% if user == cinema.user %}
        (<a href="{% url "icinema:films-delete"  films.id  %}">Delete</a>)
        {% endif %}</li>
    {% empty %}<li>Sorry, no films for this cinema yet.</li>
    {% endfor %}
</ul>
<h2>Reviews</h2>
<ul>
    {% for review in cinema.cinemareview_set.all %}
        <li>
        {% if user == review.user %}
          <a href="{{ cinema.id }}/reviews/{{  review.id }}/edit/">Edit</a>
        {% endif %}
            {% if user == review.user %}
            <a href="{{ cinema.id }}/reviews/{{  review.id }}/delete/">Delete</a></p>
            {% endif %}
            <p>{{ review.rating }} star{{ review.rating|pluralize }}</p>
            <p>{{ review.comment }}</p>
            <p>Created by {{ review.user }} on {{ review.date }}</p>
        </li>
    {% endfor %}
</ul>

<h3>Add Review</h3>
<form action="{% url 'icinema:review_create' cinema.id %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>{% for rate in RATING_CHOICES %}

    <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1 }}" />
    <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label>
    <br/>{% endfor %}
    </p>
    <input type="submit" value="Review" />
</form>


{% endblock %}
{% block footer %}
    Created by {{ cinema.user }} on {{ cinema.date }}
</body>
{% endblock %}
