{% extends "icinema/base.html" %}
{% block title %}Cinema - {{ cinema.name }}{% endblock %}
{% block content %}
<body>
    <span vocab="http://schema.org/" typeof="MovieTheater">
<h1>
    <span property="name">{{ cinema.name }}</span>
    {% if user == cinema.user %}
        (<a href="{% url 'icinema:cinema_edit' cinema.id %}">edit</a>)
    {% endif %}
</h1>
 {% if cinema.image %}
    <p><img src="{{ cinema.image.url }}" WIDTH=160 HEIGHT=210 ALIGN=left ALIGN=top VSPACE=0 HSPACE=20></p>
    {% endif %}
<h2>Address:</h2>
<p>
<span  property="address"  typeof="PostalAddress">
    Adress: <span property="streetAddress">{{ cinema.address }}</span> <br/>
    City:    <span property="addressLocality"> {{ cinema.city }}</span> <br/>
    PostCode: <span property="postalCode"> {{ cinema.postcode }}</span> <br/>
    State or Province: <span property="addressRegion">{{ cinema.stateOrProvince }}</span><br/>

<span vocab="http://schema.org/" typeof="ContactPoint">
    Telephone: <span property="telephone" >{{ cinema.telephone  }}</span><br/>


<span vocab="http://schema.org/" typeof="Thing">
    URL: <span property="url" >{{ cinema.cinema_url  }}</span>


   <p>

    &nbsp
    </p>
    <p>
     &nbsp
    </p>
  <p>
     &nbsp
    </p>
<h2>
    Film Booking:
    {% if user == cinema.user %}(<a href="{% url 'icinema:film_create' cinema.id %}">add</a>){% endif %}
</h2>

<ul>
    {% for films in cinema.films.all %}
        <li><a href="{% url 'icinema:films_detail' cinema.id films.id 'html' %}">
            {{ films.tittle }}</a>
         {% if user == cinema.user %}
        (<a href="{% url "icinema:films-delete"  films.id  %}">Delete</a>)
        {% endif %}</li>
    {% empty %}<li>Sorry, no films for this cinema yet.</li>
    {% endfor %}
</ul>
<h2>Reviews</h2>
{% if cinema.cinemareview_set.all|length > 0 %}
<span rel="aggregateRating">
    <p typeof="AggregateRating">
        Average rating <span property="ratingValue">{{ cinema.averageRating|stringformat:".1f" }}</span>
        {% with cinema.cinemaeview_set.all|length as reviewCount %}
        from <span property="reviewCount">{{ reviewCount }}
        </span> review{{ reviewCount|pluralize }}
        {% endwith %}
    </p>
</span>
<ul rel="review">
    {% for review in cinema.cinemareview_set.all %}
        {% if user == review.user %}
             <a href="{{ cinema.id }}/reviews/{{  review.id }}/edit/">Edit</a>
        {% endif %}
        {% if user == review.user %}
             <a href="{{ cinema.id }}/reviews/{{  review.id }}/delete/">Delete</a></p>
        {% endif %}
        <li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue">{{ review.rating }}</span>
                star{{ review.rating|pluralize }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{ best.0 }}"></span>
                {% endwith %}
            </p>
            <p property="description">{{ review.comment }}</p>
            <p>Created by <span property="author">{{ review.user }}</span> on
                <span property="datePublished" content="{{ review.date|date:'Y-m-d' }}">{{ review.date }}</span></p>
        </li>
    {% endfor %}
</ul>
</span>
{% endif %}

<h3>Add Review</h3>
<form action="{% url 'icinema:review_create' cinema.id %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>{% for rate in RATING_CHOICES %}

    <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1 }}" />
    <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label>
    <br/>{% endfor %}
    </p>
    <input type="submit" value="Review" />
</form>


{% endblock %}
{% block footer %}
    Created by {{ cinema.user }} on {{ cinema.date }}
</body>
{% endblock %}
