{% extends "icinema/base.html" %}

{% block content %}
<h1>
    {{ cinema.name }}
    {% if user == cinema.user %}
        (<a href="{% url 'icinema:cinema_edit' cinema.id %}">edit</a>)
    {% endif %}
</h1>
<h2>Address:</h2>
<p>
    {{ cinema.address }}, {{ cinema.city }} <br/>
    {{ cinema.postcode }} {{ cinema.cinema_url }} <br/>
    {{ cinema.telephone }} ({{ cinema.stateOrProvince }})
</p>

<h2>
    Pelicules Estreno:
    {% if user.is_authenticated %}(<a href="{% url 'icinema:film_create' cinema.id %}">add</a>){% endif %}
</h2>
<ul>
    {% for films in cinema.films.all %}
        <li><a href="{% url 'icinema:films_detail' cinema.id films.id 'html' %}">
            {{ films.tittle }}</a></li>
    {% empty %}<li>Sorry, no films for this cinema yet.</li>
    {% endfor %}
</ul>

{% endblock %}