{% extends "icinema/base.html" %}
{% block content %}
<h1>
    Cinemas
    {% if user.is_authenticated %}(<a href="{% url 'icinema:cinema_create' %}">add</a>){% endif %}
</h1>
<ul>
    {% for cinema in cinema_list %}
        <li><a href="{% url 'icinema:cinema_detail' cinema.id 'html' %}">
            {{ cinema.name }}</a>
        {% if user == cinema.user %}
        (<a href="{% url "icinema:cinema-delete" cinema.id %}">Delete</a>)
        {% endif %}</li>
</form>
    {% empty %}<li>Sorry, no cinemes registered yet.</li>
    {% endfor %}
</ul>
{% endblock %}